*{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
body{
  height: 100vh;
  background-color: black;
}

.menuBox {
  background-color: #3d3d3d;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 40px;
  padding: .4%;
}

.mainmenu {
  float: left;
  padding-left: 50px;
  display: flex;
  list-style-type: none;
}

.mainmenu li > a {
    padding: 7px 12px;
    font-size: .7em;
    color: rgb(255, 254, 254);
}

.mainmenu li {
  margin-right: 30px; 
}

.socialNetworks {
  margin-right: 60px;
  float: right;
  display: flex; 
  list-style-type: none; 
  padding: 0;
}

.socialNetworks li {
  margin-right: 30px; 
}

.socialNetworks img {
  width: 40px; 
  height: 30px; 
}

.titleBox {
  background-color: rgb(190, 29, 29); 
  text-align: center; 
  padding: 10px; 
}

.titleBox h1 {
  color: white; 
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
}

.moviesContainer{
  display: flex;
  background-color: rgb(0, 0, 0); 
  width: 85%;
  margin: 2rem auto;
}

.carousel {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.carousel img{
  width: 100%;
  
}

.menuButtons {
  width: 30%;
  display: block;
  background-color: rgb(139, 24, 24);
  border-radius: .4rem;
  div {
    width: 100%;
    margin: 0 auto;
    height: 33.33%;
  }
  button{
    width: 100%;
    height: 100%;
    background-color: rgb(190, 29, 29); 
    color:rgb(255, 254, 254);
    border-color:  rgb(116, 16, 16);
  }
}

.posters{
  display : flex;
  height: 300px;
  overflow-x: auto;
  overflow-y: hidden;
}

.posters::-webkit-scrollbar {
  height: 10px; /* Ajusta el tamaño de la barra de desplazamiento */
}

.posters::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* Cambia el color del "pulgón" de la barra de desplazamiento */
}

.posters::-webkit-scrollbar-track {
  background-color: #3d3d3d; /* Cambia el color del fondo de la barra de desplazamiento */
}

.posterCard{
  display: inline-block;
  position: relative;
  img{
    width: 10rem;
    z-index: -1;
    height: 300px;
  }
}
.text {
    position:absolute;
    top:0;
    left:0;
    height: 300px;
    padding:10px;
    margin:0;
    overflow-y: scroll;
    max-height: 300px;
    opacity:0;
    background-color: black;
    p{
      color:white;
      font-size: 15px;
    }
}

.text:hover{
  z-index: 1;
}

.desvanecer:hover{
  transition: 500ms;
  opacity:1;
}

.overview-text{
  color: black;
  font-size: 18px;
}

.text::-webkit-scrollbar {
  height: 10px; /* Ajusta el tamaño de la barra de desplazamiento */
}

.text::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* Cambia el color del "pulgón" de la barra de desplazamiento */
}

.text::-webkit-scrollbar-track {
  background-color: #3d3d3d; /* Cambia el color del fondo de la barra de desplazamiento */
}


   

.tooltip-inner {
  max-width: 300px; /* Ancho máximo del tooltip */
  background-color:rgb(190, 29, 29);/* Color de fondo del tooltip */
  color: #ffffff; /* Color del texto del tooltip */
  border-radius: 10; /* Opcional: quitar el borde redondeado del tooltip */
  font-size: 18px;
  border: 5px solid #ffffff
}

.carousel-caption h5 {
  color: white; /* Color del texto */
  text-shadow: 100px 100px 100px rgba(0, 0, 0, 0.5); /* Sombreado con desplazamiento y opacidad */
  padding: 5px 10px; /* Espaciado interno */
  font-family: 'Allerta', sans-serif;
  font-size: 50px;
}

