*{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif, Verdana;
}

body{
  height: 100vh;
  background-color: black;
}

.menuBox {
  background-color: #3d3d3d;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 40px;
  padding: .4%;
}

.mainmenu {
  float: left;
  padding-left: 50px;
  display: flex;
  list-style-type: none;
}

.mainmenu li > a {
    padding: 7px 12px;
    font-size: .7em;
    color: rgb(255, 254, 254);
}

.mainmenu li {
  margin-right: 30px; 
}

.socialNetworks {
  margin-right: 60px;
  float: right;
  display: flex; 
  list-style-type: none; 
  padding: 0;
}

.socialNetworks li {
  margin-right: 30px; 
}

.socialNetworks img {
  width: 40px; 
  height: 30px; 
}

.titleBox {
  background-color: rgb(190, 29, 29); 
  text-align: center; 
  padding: 20px; 
}

.titleBox h1 {
  color: white; 
  font-size: 36px; 
  text-transform: uppercase;
  font-weight: bold;
}

.fondo{
  background-color: black;
}

.moviesContainer{
  margin-top: 5%;
  background-color: rgb(0, 0, 0); 
}

.carousel {
  width: 60%;
  margin: 0 auto;
}

.cards {
  color: white; /* Color del texto en las tarjetas */
  display: flex;
}

.image-container {
  width: 50%;
  text-align: center;
}

.poster-image {
  width: 65%; 
  height: 90%; 
}
.text-container {
  width: 45%;
  text-align: left;
}

.text-container p{
  margin-top: 5%;
  font-size: 16px;
}

.text-container h2{
  font-size: 24px;
}