<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyect N°2 </title>
    <link rel="stylesheet" href="styles/style.css">

</head>

<body>
    <header>
        <div class="menuBox">
            <nav class="buttonBox">
                <ul class="mainmenu">
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="estrenos.html">ESTRENOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <nav>
                <ul class="socialNetworks">
                    <li><a href="Img/instagram.png" target="_blank" title="Instagram" >
                        <img src= "Img/instagram.png"></a></li>
                    <li><a  href="Img/face.png" target="_blank" title="Facebook" >
                        <img src= "Img/face.png"></a></li>
                    </a></li>
                    <li><a  href="Img/twitter.png" target="_blank" title="twitter" >
                        <img src= "Img/twitter.png"></a></li>
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>

    
    <div class="titleBox">
        <h1>CONTACTO</h1>
    </div>
    <div class="container">
        <div class="cinemaListings" style="display: flex; justify-content: center;">
    </div>
    <footer></footer>
</body>

</html>